{% comment %}
    Renders an article card for a given blog with settings to either show the image or not.

    Accepts:
    - blog: {Object} Blog object
    - article: {Object} Article object
    - media_aspect_ratio: {String} The setting changes the aspect ratio of the article image, if shown
    - media_height: {String} The setting changes the height of the article image. Overrides media_aspect_ratio.
    - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
    - show_date: {String} The setting either show the article date or not. If it's not included it will not show the image by default
    - show_author: {String} The setting either show the article author or not. If it's not included it will not show the author by default
    - show_badge: {String} The setting either show the blog badge or not.
    - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

    Usage:
    {% render 'article-card' blog: blog, article: article, show_image: section.settings.show_image %}
{% endcomment %}

{%- if article and article != empty -%}
<div id="w-node-_816f1933-fad3-6620-0547-f4856f97cb1d-2d7a1a08" class="w-layout-layout stackblog wf-layout-layout">

  <div id="w-node-_816f1933-fad3-6620-0547-f4856f97cb1e-2d7a1a08" class="w-layout-cell">
    <a href="{{ article.url }}" class="linkimg-blog w-inline-block" {% if article.image != blank %} style="background-image: url({{ article.image |  image_url }});" {% endif %} ></a>
  </div>

  <div id="w-node-_816f1933-fad3-6620-0547-f4856f97cb1f-2d7a1a08" class="w-layout-cell">
    <a href="{{ article.url }}" class="infopost-blog w-inline-block">
      <h5 class="titulo-entryblog">{{ article.title | truncate: 50 | escape }}</h5>
      <div>
        {% if show_author %}
          <div class="dateblogpost">{{ article.author }}</div>
        {% endif %}
        {% if show_date %}
          <div class="dateblogpost">{{ article.published_at |  time_tag: format: 'basic' }}</div>
        {% endif %}
      </div>
      {% if show_excerpt %}
        {% if article.excerpt.size > 0 or article.content.size > 0 %}
          <p class="post-excerpt">
            {%- if article.excerpt.size > 0 -%}
              {{ article.excerpt | strip_html | truncatewords: 30 }}
            {%- else -%}
              {{ article.content | strip_html | truncatewords: 30 }}
            {%- endif -%}
          </p>
        {% endif %}
      {% endif %}
      <div class="readmore-blogpost">Leer más</div>
    </a>
  </div>

</div>
{%- endif -%}
