{% assign date_published = card_product.created_at | date:'%Y%m%d' %}
{% assign date_now = 'now' | date:'%Y%m%d' %}
{% assign date_difference = date_now | minus: date_published %}  
<div class="container-producto {% if grid %}listing  grid__item{% endif %}" id="card-{{card_product.id}}">
  <div class="contimgproducto">
    {%-if card_product.compare_at_price > card_product.price and card_product.available -%}
      {% render 'discount_tag', product: card_product, price_class: '' %}
    {%- endif -%}
    {%- if card_product.available == false -%}
      <div class="etiquetas-prod agotado">AGOTADO</div>
    {% else %}
      {%- if date_difference < settings.new_product -%}
        <div class="etiquetas-prod">NUEVO</div>
      {%- endif -%}
    {%- endif -%}
    <a href="{{ card_product.url }}" class="linkproducto w-inline-block productlinkcard">
      <div class="imgback" style="background-image:linear-gradient(#d1d1d133,#d1d1d133),url({% if card_product.images[1] %}{{ card_product.images[1] | img_url: 'large' }}{% else %}{{ "placeholder_img.jpeg" | asset_url }}{% endif %})"></div>
      <div class="imgfront {% unless card_product.images[1] %}hoveroff{% endunless %}" style="background-image:linear-gradient(#d1d1d133,#d1d1d133),url({% if card_product.featured_media %}{{ card_product.featured_media | img_url: 'large' }}{% else %}{{ "placeholder_img.jpeg" | asset_url }}{% endif %})"></div>
    </a>
    {%- if show_quick_add -%}
    <div class="contwhislist">
        <div class="quick-add no-js-hidden">
          {%- assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id -%}
            <modal-opener data-modal="#QuickAdd-{{ card_product.id }}">
              <button
                id="{{ product_form_id }}-submit"
                type="submit"
                name="add"
                class="quick-add__submit button button--full-width button--secondary"
                aria-haspopup="dialog"
                aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                data-product-url="{{ card_product.url }}"
                style="background-image:url({{"carticon.svg"| asset_url }})"
              >
                <div class="loading-overlay__spinner hidden">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    role="presentation"
                    class="spinner"
                    viewBox="0 0 66 66"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                  </svg>
                </div>
              </button>
            </modal-opener>
            <quick-add-modal id="QuickAdd-{{ card_product.id }}" class="quick-add-modal">
              <div
                role="dialog"
                aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}"
                aria-modal="true"
                class="quick-add-modal__content global-settings-popup"
                tabindex="-1"
              >
                <button
                  id="ModalClose-{{ card_product.id }}"
                  type="button"
                  class="quick-add-modal__toggle"
                  aria-label="{{ 'accessibility.close' | t }}"
                >
                  {% render 'icon-close' %}
                </button>
                <div id="QuickAddInfo-{{ card_product.id }}" class="quick-add-modal__content-info"></div>
              </div>
            </quick-add-modal>
        </div>
    </div>
  {%- endif -%}
  </div>
  <div class="container-titleandprices">
    <a href="{{ card_product.url }}" class="nombre-producto">{{ card_product.title | escape }}</a>
    {%- unless card_product.available == false -%}
      {% render 'card-price', product: card_product, price_class: '' %}
      {% else %}
      <div class="precios-container">
        <div class="precio-regular"></div>
      </div>
    {%- endunless -%}
  </div>
  {%if card_product.options contains "Color" %} 
  <div id="barritavar" class="convar img-thumb">
  {% for options in card_product.options_with_values%}
    {% if options.name contains "Color" %}
      {% if options.values.size > 1%}
        {%- for value in options.values -%}
          {% for variant in card_product.variants %} 
            {%if variant.image and variant.options contains value %}
            {% assign secondimg = variant.image.position | plus:1  %}
            <a href="#" class="varlink-min w-inline-block {% if secondimg == 2 %}currentselect{% endif %}" title="{{ value | escape }}" data-color="{{ value | escape }}" data-position= "{{variant.image.position}} - {{secondimg}}" data-firstimg="{{variant.image | img_url: 'large' }}" data-secondimg="{{card_product.images[secondimg] | img_url: 'large' }}" data-varianturl="{{ variant.url }}"><img src="{{variant.image | img_url: '60x160' }}"  alt="" class="picvarmin"></a>
            {% break %}
            {%endif%}
          {% endfor %}
        {% endfor %}
      {% else %}
      <a href="#" class="varlink-min w-inline-block currentselect" title="{{ options.values[1] | escape }}" data-color="{{ options.values[1] | escape }}" data-firstimg="{{card_product.featured_image | img_url: 'large' }}" data-secondimg="{{card_product.images[1] | img_url: 'large' }}" data-varianturl="{{ card_product.url }}"><img src="{{card_product.featured_image | img_url: '60x160' }}"  alt="" class="picvarmin"></a>
      {% endif %}
    {% endif %}
  {% endfor%} 
  </div>
  {% endif %}
</div>