<li id="Slide-{{ section.id }}-{{ media.id }}" class="product__media-item grid__item slider__slide{% if single_media_visible %} product__media-item--single{% endif %}{% if product.selected_or_first_available_variant.featured_media == nil and forloop.index == 1 %} is-active{% endif %}{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}" >
  <img id="perzonalizedimage" class="personalizedimg" src="{{ 'personalized-jersey.webp' |  asset_url }}">
  
  {% for plyimg in shop.metaobjects.jugadores.values %}
    <img id="{{ plyimg.nombre }}" class="playerimg hidden" src="{{ plyimg.imagen |  image_url  }}">
  {% endfor %}

  <div id="Context" class="contSupText hidden">
    <p id="suptext" class="supText"></p>
    <p id="supnum" class="supNum" ></p>
  </div>
</li>