<div>
  <button id="btnjugadores" class="pbutton">Jugador</button>

  <button class="pbutton" id="personaliced">Personalizar</button>
</div>

<div id="jugadores" class="hidden">
  <select class="plyselect" name="properties[Jugador]" form="product-form-{{ section.id }}" id="plylist">
    <option value="" selected >Seleccione una opcion</option>
      {% for valor in shop.metaobjects.jugadores.values %}
        <option value="{{ valor.nombre }}">{{ valor.nombre }}-{{ valor.numero }}</option>
      {% else %}
        <option value="">No hay valores en la lista.</option>
      {% endfor %}
  </select>
</div>

<div id="personalicedinfo" class="hidden">
  <label class="plabel" for="personalizedname">Nombre:</label>
  <input class="pinput" id="personalizedname" maxlength="6" type="text" name="properties[Nombre]" form="product-form-{{ section.id }}">
  <label class="plabel" for="personalizednumber">Numero:</label>
  <input class="pinput" id="personalizednumber" maxlength="2" type="text" name="properties[Numero]" form="product-form-{{ section.id }}">
</div>

<script>
  window.addEventListener('load',()=>{
    let boton = document.querySelector('#personaliced');
    let btnply = document.querySelector('#btnjugadores');
    let contenedor = document.querySelector('#personalicedinfo');
    let contplay = document.querySelector('#jugadores');
    let allElements = document.querySelectorAll('[role="presentation"]');
    let lastElement = allElements[allElements.length-1];
    let firstElement = allElements[0];
    let selectplayer = document.querySelector('#plylist');
    let images = document.querySelectorAll('.playerimg');
    let customimage = document.querySelector('#perzonalizedimage');

    boton.addEventListener('click', function() {
      contenedor.classList.toggle('hidden');
      boton.classList.toggle('checked');

      if (!contplay.classList.contains('hidden')) {
        contplay.classList.toggle('hidden');
        btnply.classList.toggle('checked');
      }

      allElements.forEach(function(element) {
          element.classList.remove('is-active');
      });
      lastElement.classList.add('is-active');

      if(customimage.classList.contains('hidden')){
        images.forEach(function(element) {
          if(!element.classList.contains('hidden')){
            element.classList.toggle('hidden');
          }
        });
        customimage.classList.toggle('hidden');
      }
    });


    btnply.addEventListener('click',()=>{
      contplay.classList.toggle('hidden');
      btnply.classList.toggle('checked');

      if (!contenedor.classList.contains('hidden')) {
        contenedor.classList.toggle('hidden');
        boton.classList.toggle('checked');
      }

      allElements.forEach(function(element) {
          element.classList.remove('is-active');
      });
      lastElement.classList.add('is-active');
    });

    selectplayer.addEventListener('change',()=>{
      console.log(selectplayer.value);
      if(!customimage.classList.contains('hidden')){
        customimage.classList.toggle('hidden');
      }
      images.forEach(function(element) {
          if(!element.classList.contains('hidden')){
            element.classList.toggle('hidden');
          }else if(element.id == selectplayer.value ){
            element.classList.toggle('hidden');
          }
      });

    });


  });

  function updateField(inputSelector, outputSelector) {
    let inputElement = document.querySelector(inputSelector);
    let outputElement = document.querySelector(outputSelector);

    inputElement.addEventListener('input', function() {
        outputElement.innerHTML = inputElement.value;
        console.log(inputElement.value);
    });
  }
  updateField('#personalizedname', '#suptext');
  updateField('#personalizednumber', '#supnum');
</script> 