<div>
  <button id="btnjugadores" class="pbutton">Jugador</button>

  <button class="pbutton" id="personaliced">Personalizar</button>
</div>

<div id="jugadores" class="hidden">
  <select class="plyselect" name="properties[Jugador]" form="product-form-{{ section.id }}" id="plylist">
    <option value="" selected >Seleccione una opcion</option>
      {% for valor in shop.metaobjects.jugadores.values %}
        <option value="{{ valor.nombre }}">{{ valor.nombre }}-{{ valor.numero }}</option>
      {% else %}
        <option value="">No hay valores en la lista.</option>
      {% endfor %}
  </select>
</div>

<div id="personalicedinfo" class="hidden">
  <label class="plabel" for="personalizedname">Nombre:</label>
  <input class="pinput" id="personalizedname" maxlength="6" type="text" name="properties[Nombre]" form="product-form-{{ section.id }}">
  <label class="plabel" for="personalizednumber">Numero:</label>
  <input class="pinput" id="personalizednumber" maxlength="2" type="text" name="properties[Numero]" form="product-form-{{ section.id }}">
</div>

<script>
window.addEventListener('load', () => {
  const boton = document.querySelector('#personaliced');
  const btnply = document.querySelector('#btnjugadores');
  const contenedor = document.querySelector('#personalicedinfo');
  const contplay = document.querySelector('#jugadores');
  const allElements = document.querySelectorAll('[role="presentation"]');
  const lastElement = allElements[allElements.length - 1];
  const selectplayer = document.querySelector('#plylist');
  const images = document.querySelectorAll('.playerimg');
  const customimage = document.querySelector('#perzonalizedimage');
  const context = document.querySelector('#context');

  function toggleClass(element, className) {
    element.classList.toggle(className);
  }

  function hideElement(element) {
    if (!element.classList.contains('hidden')) {
      toggleClass(element, 'hidden');
    }
  }

  function showElement(element) {
    if (element.classList.contains('hidden')) {
      toggleClass(element, 'hidden');
    }
  }

  function toggleContainer(mainContainer, mainButton, secondaryContainer, secondaryButton) {
    toggleClass(mainContainer, 'hidden');
    toggleClass(mainButton, 'checked');

    if (!secondaryContainer.classList.contains('hidden')) {
      toggleClass(secondaryContainer, 'hidden');
      toggleClass(secondaryButton, 'checked');
    }

    allElements.forEach(element => element.classList.remove('is-active'));
    lastElement.classList.add('is-active');
  }

  boton.addEventListener('click', () => {
    toggleContainer(contenedor, boton, contplay, btnply);
    hideElement(customimage);
    images.forEach(hideElement);
    showElement(customimage);
    showElement(context);
  });

  btnply.addEventListener('click', () => {
    toggleContainer(contplay, btnply, contenedor, boton);
  });

  selectplayer.addEventListener('change', () => {
    hideElement(customimage);
    images.forEach(image => {
      hideElement(image);
      if (image.id === selectplayer.value) {
        showElement(image);
      }
    });
    hideElement(context);
  });
});


  function updateField(inputSelector, outputSelector) {
    let inputElement = document.querySelector(inputSelector);
    let outputElement = document.querySelector(outputSelector);

    inputElement.addEventListener('input', function() {
        outputElement.innerHTML = inputElement.value;
    });
  }
  updateField('#personalizedname', '#suptext');
  updateField('#personalizednumber', '#supnum');
</script> 