<div class="cont-personalizador">
  <div data-current="Tab2" data-easing="ease" data-duration-in="300" data-duration-out="100" class="w-tabs">
    <div class="w-tab-menu">
      <a data-w-tab="Tab1" class="customiztab w-inline-block w-tab-link" id="Tab1">
        <div>Nombre y número</div>
      </a>
      <a data-w-tab="Tab2" class="customiztab w-inline-block w-tab-link w--current" id="Tab2">
        <div>Jugador</div>
      </a>
    </div>
    <div class="w-tab-content">

      <div data-w-tab="Tab1" class="contabs w-tab-pane">
        <label for="nombreplayera" class="labelcustopmization">Escribe el nombre que quieres impreso en tu playera. Máximo 15 caracteres. Los espacios se consiedrean como una letra.</label>
        <input class="customizationinput w-input" maxlength="15" name="properties[Nombre]" form="product-form-{{ section.id }}" placeholder="Nombre" type="text" id="nombreplayera">
        <label for="numeroplayera" class="labelcustopmization">Número de jugador, máximo 2 dígitos</label>
        <input class="customizationinput w-input" maxlength="2" name="properties[Numero]" form="product-form-{{ section.id }}" placeholder="Número" type="number" id="numeroplayera" oninput="validateNumberInput(this)" >
      </div>

      <div data-w-tab="Tab2" class="contabs w-tab-pane w--tab-active">
        <select id="playerselector" name="properties[Jugador]" form="product-form-{{ section.id }}" class="palyerselector w-select">
          <option value="">Selecciona un jugador</option>
          {% for valor in shop.metaobjects.jugadores.values %}
            <option value="{{ valor.nombre }}">{{ valor.numero }}-{{ valor.nombre }}</option>
          {% else %}
            <option value="">No hay valores en la lista.</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
</div>

<script>
  const btn1 = document.getElementById('Tab1');
  const btn2 = document.getElementById('Tab2');
  const players = document.getElementById('playerselector');
  const inpt1 = document.getElementById('nombreplayera');
  const inpt2 = document.getElementById('numeroplayera');

  // Limpiar Select
  btn1.addEventListener('click', ()=>{
    players.selectedIndex = 0;
  })

  //Limpiar Inputs
  btn2.addEventListener('click', ()=>{
    inpt1.value = '';
    inpt2.value = '';
  })

  // Validar entrada de número
  function validateNumberInput(input) {
    const maxLength = 2;
    if (input.value.length > maxLength) {
      input.value = input.value.slice(0, maxLength);
    }
  }
</script>