<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {{ 'personalized.css' | asset_url | stylesheet_tag }}

    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=62e7fe3a4cd6ab0389356cbc" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">WebFont.load({  google: {    families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic","Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic","Oswald:200,300,400,500,600,700","Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic"]  }});</script>
    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
  
</head>

  <body class="password gradient">
    <main id="MainContent" class="password-main">
      {{ content_for_layout }}

      <password-modal>
        <details class="password-modal modal">
          <summary class="modal__toggle" aria-haspopup="dialog">
            <div class="modal__toggle-open password-link link underlined-link">
             Entrar usando contraseña
            </div>
            <div class="modal__toggle-close" aria-hidden="true">
              {% render 'icon-close' %}
            </div>
          </summary>
          <div
            class="modal__content"
            role="dialog"
            aria-labelledby="DialogHeading"
            aria-modal="true"
          >
            <div class="password-modal__content" tabindex="-1">
              <button type="button" class="modal__close-button link" aria-label="{{ 'accessibility.close' | t }}">
                {% render 'icon-close' %}
              </button>
              {%- form 'storefront_password', class: 'password-form' -%}
                <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
                  <input
                    type="password"
                    name="password"
                    id="Password"
                    class=" escribecorreo_news w-input"
                    autocomplete="current-password"
                    {% if form.errors %}
                      aria-invalid="true"
                      aria-describedby="PasswordLoginForm-password-error"
                    {%- endif -%}
                    placeholder="Contraseña"
                  >
                </div>
                <button name="commit" class="password-button button button--outline loginpopbtn w-button">
                  Ingresar
                </button>
                {%- if form.errors -%}
                  <div id="PasswordLoginForm-password-error" role="status">
                    <span class="form__message">Contraseña incorrecta</span>
                  </div>
                {%- endif -%}
              {%- endform -%}
            </div>
          </div>
        </details>
      </password-modal>
    </main>
    <footer>
      <script src="{{ 'core.js' | asset_url }}" defer="defer"></script>
    </footer>
    <style>
    
.password {
  background-color: rgb(var(--color-background));
  height: 100%
}

.password-link {
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  white-space: nowrap
}

.password-link svg {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 1rem
}

.password-modal__content {
  padding: 4.5rem 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box
}

.password-modal__content-heading {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: calc(1 + .6 / var(--font-body-scale))
}

@media only screen and (min-width: 750px) {
  .password-modal__content-heading {
      /* font-size:1.8rem; */
  }
}

.password-modal .password-form {
  max-width: 50rem
}

.password-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  width: 100%
}

.password-field.field {
  flex: 1 20rem
}

.password-field .form__message {
  margin-top: 1.5rem
}

.password-button {
  margin-top: 3rem;
  width: 100%
}

@media only screen and (max-width: 749px) {
  .password-field--error+.password-button {
      margin-top:1.5rem
  }
}

@media only screen and (min-width: 750px) {
  .password-button {
      margin-top:0;
      margin-left: 2rem;
      width: auto;
      align-self: start
  }
}

.password-logo {
  width: 100%;
  margin-bottom: 1.5rem
}

@media only screen and (min-width: 750px) {
  .password-logo {
      margin-bottom:0
  }
}

.password-heading {
  margin-top: 5rem;
  font-weight: 400
}

.password-main {
  flex-grow: 1
}

.password-main>section:only-child {
  height: 100%
}

.password-main>section:only-child>.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 0
}

.password-main>section:only-child .newsletter__wrapper:not(.email-signup-banner__box) {
  width: 100%
}

.password-main>section:only-child>:not(.newsletter--narrow)>.newsletter__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.password__footer-text a {
  padding: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: calc(1 + .5 / var(--font-body-scale))
}

.password__footer-login {
  margin-top: 1.2rem;
  padding-bottom: 4rem
}

.password-modal .icon-close {
  color: rgb(var(--color-foreground))
}

.password__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground))
}

hr {
  margin: 0!important
}

.list-social:not(:empty)+.password__footer-caption {
  margin-top: 3rem
}

.password__footer-caption a {
  padding: 0;
  color: rgb(var(--color-link))
}

.modal__toggle,.modal__close-button {
  list-style-type: none
}

details[open] .modal__toggle,.modal__close-button {
  position: absolute;
  top: 2.2rem;
  right: 2.2rem;
  padding: .8rem;
  color: rgb(var(--color-foreground));
  background-color: transparent
}

.no-js .modal__close-button {
  display: none
}

.no-js .modal__toggle {
  z-index: 2
}

.modal__toggle::-webkit-details-marker {
  display: none
}

details.modal .modal__toggle-close {
  display: none
}

details[open].modal .modal__toggle-close {
  background: rgb(var(--color-background));
  cursor: pointer;
  display: flex;
  padding: .8rem;
  z-index: 1
}

details[open].modal .modal__toggle-close svg,.modal__close-button svg {
  height: 1.7rem;
  width: 1.7rem
}

details[open].modal .modal__toggle-close:hover {
  opacity: .75
}

.js details[open].modal .modal__toggle-close {
  display: none
}

details.modal .modal__toggle-open {
  display: flex;
  justify-content: center;
  /* visibility:hidden; */
}

.no-js details[open].modal .modal__toggle-open {
  display: none
}

.password-header {
  padding: 2rem 1.5rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: rgb(var(--color-foreground));
  max-width: var(--page-width);
  margin: 0 auto;
  text-align: center
}

@media only screen and (min-width: 750px) {
  .password-header {
      display:grid;
      gap: 3rem;
      grid-template-columns: 1fr 1.5fr 1fr;
      padding: 2rem 5rem 2.5rem;
      text-align: left
  }
}

.password-header details-modal {
  flex-shrink: 0
}

.password-content {
  text-align: center
}

@media only screen and (max-width: 749px) {
  .password-content {
      margin-bottom:1.8rem;
      margin-top: 1rem
  }
}

.shopify-name {
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px
}

.icon-shopify {
  width: 7rem;
  height: 2rem;
  vertical-align: top;
  color: rgb(var(--color-foreground))
}

password-modal {
  justify-self: flex-end;
  grid-column: 3
}

.loginpopbtn {
  width: auto!important;
  min-width: 150px!important;
  background-color: #000!important;
  border: 2px solid #000!important;
  border-radius: 70px!important;
  margin-top: 10px!important;
  margin-bottom: 10px!important;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  font-family: Roboto,sans-serif!important;
  font-size: 16px!important;
  font-weight: 400!important;
  display: block
}

.loginpopbtn:hover {
  color: #000!important;
  background-color: #fff!important
}

.password-field.field {
  display: block
}

input#Password {
  width: 100%;
  height: 40px;
  margin: 0
}

div#PasswordLoginForm-password-error {
  width: 100%;
}

details[open] .modal__toggle, .modal__close-button {
  display: none;
}
</style>
  </body>
</html>
