{% if section.blocks != blank %}
  <div data-delay="3000" data-animation="slide" class="mainslider w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="4" data-duration="500" data-infinite="true">
    <div class="w-slider-mask">
        {% for block in section.blocks %}
          <div class="slidehome w-slide">
            <a href="{{ block.settings.link }}" class="linksliderhome w-inline-block">
              <img  alt="{{ block.settings.image-desktop-version.alt }}" src="{{ block.settings.image-desktop-version |  image_url  }}"  class="imgbannerhome">
            </a>
          </div>
        {% endfor %}
    </div>
    {% if section.blocks.size > 1 %}
      <div class="arrowmainslider w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="arrowmainslider w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="navslidemain w-slider-nav w-round"></div>
    {% endif %}
  </div>

  <div data-delay="4000" data-animation="slide" class="mainslider mobile w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="4" data-duration="500" data-infinite="true">
    <div class="w-slider-mask">

        {% for block in section.blocks %}
          <div class="slidehome w-slide">
            <a href="{{ block.settings.link }}" class="linksliderhome w-inline-block">
              <img src="{%if block.settings.image-mobile-version %}{{ block.settings.image-mobile-version |  image_url  }}{% else %}{{ block.settings.image-desktop-version |  image_url }}{% endif %}" alt="{{ block.settings.image-desktop-version.alt}}" class="imgbannerhome">
            </a>
          </div>
        {% endfor %}    

    </div>

    <div class="arrowmainslider w-slider-arrow-left">
      <div class="w-icon-slider-left"></div>
    </div>
    <div class="arrowmainslider w-slider-arrow-right">
      <div class="w-icon-slider-right"></div>
    </div>
    <div class="w-slider-nav w-round"></div>

  </div>
{% endif %}

{% schema %}
{
"name": "Carrusel de Banners",
"class": "index-section",
"max_blocks": 10,
"blocks": [
{
"type": "image",
"name": "Banner",
"settings": [
{
"type": "image_picker",
"id": "image-desktop-version",
"label": "Imagen para escritorio"
},
{
"type": "image_picker",
"id": "image-mobile-version",
"label": "Imagen para móvil"
},
{
"type": "url",
"id": "link",
"label": "URL"
}
]
}
],
"presets": [
{
"name": "Carrusel de Banners",
"category": "Image"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}