<div class="recomendaciones">
  <div class="custom-container">


    <div class="titlecontainer">
      <h4 class="mainsecctitle">{{ section.settings.title }}</h4>
    </div>



    <div id="w-node-_8e9f4fb6-d75a-5500-3517-d73b39d76f51-d6642a49"
      class="w-layout-layout stackrecomendaciones wf-layout-layout">

      {% for block in section.blocks %}

      <div id="w-node-_8e9f4fb6-d75a-5500-3517-d73b39d76f52-d6642a49" class="w-layout-cell cellrecomendacion">
        <a href="{{ block.settings.card_link }}" class="contrecomendacion w-inline-block" style="background: {{ block.settings.bg_color }};">
          <img src="{{ block.settings.card_image |  image_url  }}" alt="{{ block.settings.card_image.alt }}"
            class="imgrecomendacion">
          <div class="contindorec">
            <h5 class="subrecomend">{{ block.settings.card_description }}</h5>
            <h4 class="titlerecomend">{{ block.settings.card_title }}</h4>
            <div class="outlinebtn">Ver más</div>
          </div>
        </a>
      </div>

      {% endfor %}

    </div>


  </div>
</div>



{% schema %}
{
"name": "Colecciones Recomendadas",
"class": "index-section",
"settings": [
{
"type": "text",
"id": "title",
"label": "Titulo de seccion",
"default": "Recomendaciones <strong class='boldtitles'>bomuca<sup>®</sup></strong>"
}
],
"max_blocks": 3,
"blocks": [
{
"type": "card",
"name": "Coleccion",
"settings": [
  {
  "type": "color_background",
  "id": "bg_color",
  "label": "Color de fondo",
  "info": "Ingresar aqui soló el codigo Hex,RGB ó RGBA",
  "default": "#ebfce2"
},{
"type": "image_picker",
"id": "card_image",
"label": "Imagen"
},{
"type": "textarea",
"id": "card_description",
"label": "Descripcion"
},{
"type": "text",
"id": "card_title",
"label": "Título"
},{
"type": "url",
"id": "card_link",
"label": "Coleccion Url"
}
]
}
],
"presets": [
{
"name": "Colecciones Recomendadas"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}