<div class="seccsociosc">
  <div class="custom-container">
    <div class="maintitle-cont">
      <h2 class="maintitle">SOCIOS <span class="redtxttitle">COMERCIALES</span></h2>
    </div>
    <div class="contsocioslogos">
      <div class="contlogo"><img src="{{ "roshfrans.jpg" | asset_url }}"   alt="" class="logosocio"></div>
      <div class="contlogo"><img src="{{ "corona.jpg" | asset_url }}"   alt="" class="logosocio"></div>
      <div class="contlogo"><img src="{{ "new-balance.jpg" | asset_url }}"   alt="" class="logosocio"></div>
      <div class="contlogo"><img src="{{ "arabela.jpg" | asset_url }}"   alt="" class="logosocio"></div>
    </div>
    <div class="contsocioslogos">
      <div class="contlogo"><img src="{{ "caliente.jpg" | asset_url }}"   alt="" class="logosocio"></div>
      <div class="contlogo"><img src="{{ "mercedes-Benz.jpg" | asset_url }}"   alt="" class="logosocio"></div>
      <div class="contlogo"><img src="{{ "aeromexico.jpg" | asset_url }}"   alt="" class="logosocio"></div>
      <div class="contlogo"><img src="{{ "electrolit.jpg" | asset_url }}"   alt="" class="logosocio"></div>
      <div class="contlogo"><img src="{{ "red-cola.jpg" | asset_url }}"   alt="" class="logosocio"></div>
    </div>
  </div>
</div>

{% schema  %}
{
  "name": "Asociados",
  "settings": [],
  "max_blocks": 9,
  "blocks": [
     {
      "type": "image",
      "name": "Socio",
      "settings": []
     }
   ],
  "presets": [
    {
      "name": "Asociados"
    }
  ]
}
{% endschema %}