<div class="recomendaciones">
  <div class="custom-container">

    <div class="titlecontainer">
      <h4 class="mainsecctitle">{{ section.settings.title }}</h4>
    </div>

    <div id="w-node-_0f2a6437-48b6-9ae9-b35f-e45985d36452-9ad7c4e7" class="w-layout-layout stackrecomendaciones wf-layout-layout">

      {% for block in section.blocks %}
        <div id="w-node-_0f2a6437-48b6-9ae9-b35f-e45985d36453-9ad7c4e7" class="w-layout-cell cellrecomendacion">
          <a href="{{ block.settings.card_collection.url }}" class="contrecomendacion w-inline-block" style="background: {{ block.settings.bg_color }};">
            <img src="{{ block.settings.card_image |  image_url }}" class="imgrecomendacion">
            <div class="contindorec">
              <h5 class="subrecomend">{{ block.settings.card_description }}</h5>
              <h4 class="titlerecomend">{{ block.settings.card_title }}</h4>
              <div class="outlinebtn">Ver productos</div>
            </div>
          </a>
        </div>
      {% endfor %}

    </div>
  </div>
</div>



{% schema %}
{
"name": "Lista de Colecciones",
"class": "index-section",
"settings": [
{
"type": "text",
"id": "title",
"label": "Titulo de seccion",
"default": "Productos destacados"
}
],
"max_blocks": 3,
"blocks": [
{
"type": "card",
"name": "Coleccion",
"settings": [
  {
  "type": "color_background",
  "id": "bg_color",
  "label": "Color de fondo",
  "info": "Ingresar aqui soló el codigo HEX ,RGB ó RGBA",
  "default": "##fcede2"
},{
"type": "image_picker",
"id": "card_image",
"label": "Imagen"
},{
"type": "textarea",
"id": "card_description",
"label": "Descripcion"
},{
"type": "text",
"id": "card_title",
"label": "Título"
},{
"type": "collection",
"id": "card_collection",
"label": "Colección"
}
]
}
],
"presets": [
{
"name": "Lista de Colecciones"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}