<div class="custom-container">
  <div class="container-legal">
    <div class="formcontacto w-form">
      <div class="titlecontainer">
        <h2 class="secctitle">CONTACTO</h2>
      </div>
      {%- form 'contact', id: 'ContactForm', class: 'contenidoformlog contacto' -%}
        <div class="labelcontact-input requested"><span class="redtypo-labelform">*</span>Campos obligatorios</div>
        <div class="contacto-form50">
          <div class="labelcontact-input">Nombre completo <span class="redtypo-labelform">*</span> </div><input type="text" class="loginreg-field w-input" maxlength="256" name="contact[{{ 'templates.contact.form.name' | t }}]" placeholder="" id="ContactForm-name" required="">
        </div>
        <div class="contacto-form50">
          <div class="labelcontact-input">E-mail* (utiliza el mismo correo que en tu pedido) <span class="redtypo-labelform">*</span> </div><input type="email" class="loginreg-field w-input" maxlength="256" id="ContactForm-email" name="contact[email]" {% if form.errors contains 'email' %} aria-invalid="true" aria-describedby="ContactForm-email-error"
        {% endif %} placeholder="" required="">
        </div>
        <div class="contacto-form50">
          <div class="labelcontact-input">Teléfono <span class="redtypo-labelform">*</span></div><input type="tel" class="loginreg-field w-input" pattern="[0-9\-]*" name="contact[{{ 'templates.contact.form.phone' | t }}]"  placeholder="" id="ContactForm-phone" required="">
        </div>
        <div class="contacto-form50">
          <div class="labelcontact-input">Ciudad/Estado</div><input type="text" class="loginreg-field w-input" maxlength="256" placeholder="" id="ContactForm-ciudad" name="contact[ciudad]" required="">
        </div>
        <div id="w-node-_44378a10-1ddd-999d-2f1c-05a6b00a3c67-8c41c532" class="w-layout-layout quick-stack wf-layout-layout">
          <div id="w-node-_44378a10-1ddd-999d-2f1c-05a6b00a3c68-8c41c532" class="w-layout-cell">
            <div class="labelcontact-input"><span class="redtypo-labelform">*</span> ¿Cómo podemos ayudarte?</div><select id="ContactForm-asunto" name="contact[asunto]" class="loginreg-field selector w-select">
              <option value="">Selecciona una opción</option>
              <option value="Status de mi pedido">Status de mi pedido</option>
              <option value="Pago de mi pedido">Pago de mi pedido</option>
              <option value="Cambio de un producto">Cambio de un producto</option>
              <option value="Devolución de un producto">Devolución de un producto</option>
              <option value="Problema con mi pedido">Problema con mi pedido</option>
            </select>
          </div>
          <div class="w-layout-cell">
            <div class="labelcontact-input">Número orden (sólo si aplica)</div><input type="text" class="loginreg-field w-input" maxlength="256" placeholder=""                     id="ContactForm-numeroorden"
            name="contact[numero de orden]">
          </div>
        </div>
        <div class="w-layout-layout quick-stack wf-layout-layout">
          <div class="w-layout-cell">
            <div class="labelcontact-input">Escribe un breve mensaje explicando tu caso. (opcional)</div><textarea required="" placeholder="" maxlength="5000" id="ContactForm-body" name="contact[{{ 'templates.contact.form.comment' | t }}]"  class="txtarea-contacto w-input"></textarea>
          </div>
        </div><input type="submit" value="Enviar Mensaje"  class="loginpopbtn center w-button">
        {%- if form.posted_successfully? -%}
          <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
            {% render 'icon-success' %}
            {{ 'templates.contact.form.post_success' | t }}
          </h2>
        {%- elsif form.errors -%}
          <div class="form__message">
            <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
              {% render 'icon-error' %}
              {{ 'templates.contact.form.error_heading' | t }}
            </h2>
          </div>
          <ul class="form-status-list caption-large" role="list">
            <li>
              <a href="#ContactForm-email" class="link">
                {{ form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email }}
              </a>
            </li>
          </ul>
        {%- endif -%}
      {% endform %}
    </div>
  </div>
</div>