<div class="seccinternas">
  <div class="custom-container">
    <div id="w-node-_5bab357d-2bfc-668a-dbc6-ac12a54b01b7-175a39ff" class="w-layout-layout contactostack wf-layout-layout">

      <div id="w-node-_5bab357d-2bfc-668a-dbc6-ac12a54b01b8-175a39ff" class="w-layout-cell imgcontform" style="background-image: url({{ section.settings.image |  image_url }});"></div>

      <div id="w-node-_5bab357d-2bfc-668a-dbc6-ac12a54b01b9-175a39ff" class="w-layout-cell cell">

        <div class="maintitle-cont">
          <h2 class="maintitle left"><span class="redtxttitle">ESCRÍBENOS</span></h2>
        </div>

        <div class="loginpopform w-form">
          {%- form 'contact', id: 'ContactForm', class: 'contenidoformlog contacto' -%}

            <p class="txtlogin contacto">Si tienes alguna duda sobre tus productos, pedido, comentarios o sugerencias escríbenos a través del siguiente formulario.</p>
            <div id="w-node-ce49663a-fd02-0835-a529-5453f7eba3e2-175a39ff" class="w-layout-layout quick-stack wf-layout-layout">
              <div id="w-node-ce49663a-fd02-0835-a529-5453f7eba3e3-175a39ff" class="w-layout-cell">
                <label for="nombre-5" class="contactolabel">Nombre completo*</label>
                  <input class="loginreg-field w-input" maxlength="256" name="contact[Nombre_Completo]" data-name="nombre" placeholder="" type="text" id="nombre-5" required="">
                <label for="telefono" class="contactolabel">Teléfono*</label>
                  <input class="loginreg-field w-input" maxlength="256" name="contact[Telefono]" data-name="telefono" placeholder="" type="tel" id="telefono" required="">
                <label for="field-2" class="contactolabel">¿Cómo podemos ayudarte?</label>
                <select id="field-2" name="contact[Asunto]" data-name="Field 2" required="" class="loginreg-field w-select">
                  <option value="">Selecciona una opción</option>
                  <option value="Status de mi pedido">Status de mi pedido</option>
                  <option value="Pago de mi pedido">Pago de mi pedido</option>
                  <option value="Cambio de un producto">Cambio de un producto</option>
                  <option value="Devolución de un producto">Devolución de un producto</option>
                  <option value="Problema con mi pedido">Problema con mi pedido</option>
                </select></div>
              <div id="w-node-ce49663a-fd02-0835-a529-5453f7eba3e4-175a39ff" class="w-layout-cell">
                <label for="Correo-7" class="contactolabel">Correo electrónico* (Utilizar el mismo correo de su orden)</label>
                <input class="loginreg-field w-input" maxlength="256" name="contact[email]" data-name="Correo" placeholder="" type="email" id="Correo-7" {% if form.errors contains 'email' %} aria-invalid="true" aria-describedby="ContactForm-email-error" {% endif %} required="">
                <label for="ciudad" class="contactolabel">Ciudad/estado</label>
                <input class="loginreg-field w-input" maxlength="256" name="contact[Ciudad/Estado]" data-name="ciudad" placeholder="" type="text" id="ciudad">
                <label for="telefono-2" class="contactolabel">Número de pedido (solo si aplica)</label>
                <input class="loginreg-field w-input" maxlength="256" name="contact[Numero_Pedido]" data-name="Telefono 2" placeholder="" type="text" id="telefono-2">
              </div>
            </div>
            <label for="field-3" class="contactolabel">Deja un mensaje (opcional)</label>
            <textarea id="mensaje" name="contact[Mensaje]" maxlength="5000" data-name="Mensaje" placeholder="" required="" class="txtarea-contacto w-input"></textarea>
            <input type="submit" data-wait="Please wait..." class="loginpopbtn contacto w-button" value="Enviar mensaje">

            {%- if form.posted_successfully? -%}
              <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
                {% render 'icon-success' %}
                {{ 'templates.contact.form.post_success' | t }}
              </h2>
            {%- elsif form.errors -%}
              <div class="form__message">
                <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
                  {% render 'icon-error' %}
                  {{ 'templates.contact.form.error_heading' | t }}
                </h2>
                <ul class="form-status-list caption-large" role="list">
                  <li>
                    <a href="#ContactForm-email" class="link">
                      {{ form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email }}
                    </a>
                  </li>
                </ul>
              </div>
            {%- endif -%}
          {% endform %}

        </div>

      </div>
    </div>
  </div>
</div>


{% schema  %}
{
  "name": "Contacto",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Imagen"
    }
  ],
  "presets": [
    {
      "name": "Contacto"
    }
  ]
}
{% endschema %}