<footer>

<div class="customfooter">
  <a href="#" class="logofooter w-inline-block"><img src="{{ "escudo-circular.svg" | asset_url }}"   alt="" class="escudofooter"></a>
  <div class="custom-container">
    <div id="w-node-abf9476f-c460-dfd6-4453-3f0845eb2446-45eb2442" class="w-layout-layout footerstack wf-layout-layout">
      <div id="w-node-abf9476f-c460-dfd6-4453-3f0845eb2447-45eb2442" class="w-layout-cell">
        <div class="infocolfooter">
          <h5 class="footertitle">NOSOTROS</h5>
          <ul role="list" class="listitemsfooter">
            <li class="footeritemlist">
              <a href="#" class="footerlinktxt">Aviso de privacidad</a>
            </li>
            <li class="footeritemlist">
              <a href="#" class="footerlinktxt">Política de cambios y devoluciones</a>
            </li>
            <li class="footeritemlist">
              <a href="#" class="footerlinktxt">Términos y condiciones</a>
            </li>
            <li class="footeritemlist">
              <a href="#" class="footerlinktxt">FAQ</a>
            </li>
          </ul>
        </div>
      </div>
      <div id="w-node-abf9476f-c460-dfd6-4453-3f0845eb2458-45eb2442" class="w-layout-cell">
        <div class="infocolfooter">
          <h5 class="footertitle">TIENDA</h5>
          <ul role="list" class="listitemsfooter">
            <li class="footeritemlist">
              <a href="#" class="footerlinktxt">Mi cuenta / Registro</a>
            </li>
            <li class="footeritemlist">
              <a href="#" class="footerlinktxt">Carrito</a>
            </li>
            <li class="footeritemlist">
              <a href="#" class="footerlinktxt">Pedidos</a>
            </li>
            <li class="footeritemlist">
              <a href="#" class="footerlinktxt">Direcciones</a>
            </li>
          </ul>
        </div>
      </div>
      <div id="w-node-abf9476f-c460-dfd6-4453-3f0845eb2469-45eb2442" class="w-layout-cell">
        <div class="infocolfooter">
          <h5 class="footertitle">SÍGUENOS</h5>
          <ul role="list" class="listitemsfooter">
            <li class="footeritemlist">
              <a href="https://www.instagram.com/tolucafc/" target="_blank" class="linksocial w-inline-block"><img src="{{ "icon_instagram.svg" | asset_url }}"   alt="" class="socialicon"></a>
              <a href="https://x.com/TolucaFC" target="_blank" class="linksocial w-inline-block"><img src="{{ "icon_twitter.svg" | asset_url }}"   alt="" class="socialicon"></a>
              <a href="https://www.facebook.com/tolucafc" class="linksocial w-inline-block"><img src="{{ "icon_meta.svg" | asset_url }}"   alt="" class="socialicon"></a>
              <a href="https://www.youtube.com/@Deportivotolucafcoficial" target="_blank" class="linksocial w-inline-block"><img src="{{ "icon_youtube.svg" | asset_url }}"   alt="" class="socialicon"></a>
              <a href="https://www.tiktok.com/@tolucafc?lang=es" target="_blank" class="linksocial w-inline-block"><img src="{{ "icon_tiktok.svg" | asset_url }}"   alt="" class="socialicon"></a>
            </li>
          </ul>
        </div>
        <div class="infocolfooter">
          <h5 class="footertitle">CONTACTO</h5>
          <ul role="list" class="listitemsfooter">
            <li class="footeritemlist">
              <a href="#" class="footerlinktxt">tiendaenlinea@tolucafc.com</a>
            </li>
          </ul>
        </div>
      </div>
      <div id="w-node-abf9476f-c460-dfd6-4453-3f0845eb2480-45eb2442" class="w-layout-cell">
        <div class="infocolfooter">
          <h5 class="footertitle"><strong>¡SIEMPRE DIABLOS! SUSCRÍBETE</strong></h5>
          <div class="subscriptionform w-form">
            <form id="email-form" name="email-form" data-name="Email Form" method="get" data-wf-page-id="6675e23e3a59380aba5351bb" data-wf-element-id="abf9476f-c460-dfd6-4453-3f0845eb2486">
              <p class="txtregularfooter">Entérate antes que nadie de los nuevos lanzamientos y recibe promociones y descuentos especiales.</p>
              <div class="inputcontnews"><input type="submit" data-wait="Please wait..." class="suscribebtn w-button" value=""><input class="inputsuscription w-input" maxlength="256" name="newsinput-2" data-name="Newsinput 2" placeholder="Ingresa aquí tu email" type="email" id="newsinput-2" required=""></div>
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
          <ul role="list" class="listitemsfooter"></ul>
        </div>
      </div>
    </div>
    <div class="paymentinfocont">
      <h5 class="footertitle center">PAGOS SEGUROS</h5><img src="{{ "paymentmethods.png" | asset_url }}"   alt="" class="paymentlogos">
    </div>
    <div class="copyright">Copyright © 2024 Toluca Fútbol Club - Tienda Oficial · Designed and Developed by Kubo Digital</div>
  </div>
</div>

</footer>


{% schema %}
{
"name": "t:sections.footer.name",
"settings": [
{
"type": "image_picker",
"id": "logo",
"label": "Logo del footer"
},
{
"type": "header",
"content": "Menus"
},
{
"type": "link_list",
"id": "menu_1",
"default": "footer",
"label": "Menu Columna 1",
"info": "t:sections.footer.blocks.link_list.settings.menu.info"
},
{
"type": "link_list",
"id": "menu_2",
"default": "footer",
"label": "Menu Columna 2",
"info": "t:sections.footer.blocks.link_list.settings.menu.info"
},{
"type": "header",
"content": "Contacto"
},{
"type": "text",
"id": "email",
"label": "Correo"
},{
"type": "header",
"content": "Direccion 1"
},{
"type": "text",
"id": "city_1",
"label": "Ciudad"
},{
"type": "text",
"id": "phone_1",
"label": "Telefono"
},{
"type": "textarea",
"id": "address_1",
"label": "Direccion"
},{
"type": "header",
"content": "Direccion 2"
},{
"type": "text",
"id": "city_2",
"label": "Ciudad"
},{
"type": "text",
"id": "phone_2",
"label": "Telefono"
},{
"type": "textarea",
"id": "address_2",
"label": "Direccion"
},{
"type": "header",
"content": "Direccion 3"
},{
"type": "text",
"id": "city_3",
"label": "Ciudad"
},{
"type": "text",
"id": "phone_3",
"label": "Telefono"
},{
"type": "textarea",
"id": "address_3",
"label": "Direccion"
},{
"type": "header",
"content": "Redes Sociales"
}, {
"type": "text",
"id": "instagram",
"label": "Instagram"
}, {
"type": "text",
"id": "facebook",
"label": "Facebook"
}, {
"type": "text",
"id": "youtube",
"label": "Youtube"
},
{
"type": "header",
"content": "Suscripción"
},{
"type": "text",
"id": "news_title",
"label": "Titulo"
},{
"type": "textarea",
"id": "description-subscription",
"label": "Descripción"
},
{
"type": "header",
"content": "Metodos de Pago"
}, {
"type": "image_picker",
"id": "logo_payment",
"label": "Imagen Metodos de Pago"
}, {
"type": "image_picker",
"id": "logo_payment_mobile",
"label": "Imagen Metodos de Pago Mobile"
}
]
}
{% endschema %}