<footer>
  <div class="secc-footer">

    <div class="custom-container footer">
      <div id="gotopbtn" class="btntop"><img src="{{" top_arrow.svg" | asset_url}}" class="arrowtop"></div>
      <div id="w-node-ab5e0d55-f5d9-cc4b-45c3-e463cabd1e93-beeb019d"
        class="w-layout-layout quickstackfooter wf-layout-layout">


        <div id="w-node-cfa5d3e8-e40d-24b8-d5e2-9d896ef77295-beeb019d" class="w-layout-cell firstcellfooter">

          <a href="{{ routes.root_url }}" class="footerlogolink w-inline-block"><img
              src="{{ section.settings.logo |  image_url }}"
              alt="Logo champion" class="logofooter">
          </a>


          {% if section.settings.menu_1 != blank %}
          <ul role="list" class="listafooter">
            {% for link in section.settings.menu_1.links %}
            {% if forloop.first %}
            <li class="itemlista">
              <h4 class="titlefooter">{{ section.settings.menu_1.title }}</h4>
            </li>
            <li class="itemlista">
              <a href="{{ link.url }}" class="footerlink">{{ link.title }}</a>
            </li>
            {% else %}
            <li class="itemlista">
              <a href="{{ link.url }}" class="footerlink">{{ link.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          {% endif %}



          {% if section.settings.menu_2 != blank %}
          <ul role="list" class="listafooter">
            {% for link in section.settings.menu_2.links %}
            {% if forloop.first %}
            <li class="itemlista">
              <h4 class="titlefooter">{{ section.settings.menu_2.title }}</h4>
            </li>
            <li class="itemlista">
              <a href="{{ link.url }}" class="footerlink">{{ link.title }}</a>
            </li>
            {% else %}
            <li class="itemlista">
              <a href="{{ link.url }}" class="footerlink">{{ link.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          {% endif %}


        </div>



        <div id="w-node-_70e3c3fb-c433-499e-f6b5-357d612b5044-beeb019d" class="w-layout-cell middlecellfooter">
          <div class="socialcont mobile">
            <a href="{{ section.settings.instagram }}" class="linksocial w-inline-block"><img src="{{"
                instrgram_icon.svg" | asset_url}}"
                alt="Instagram champion"
                class="iconsocial"></a>
            <a href="{{ section.settings.facebook }}" class="linksocial w-inline-block"><img src="{{" facebook_icon.svg"
                | asset_url}}"
                alt="Facebook champion"
                class="iconsocial"></a>
            <a href="{{ section.settings.youtube }}" class="linksocial w-inline-block"><img src="{{" youtube_icon.svg" |
                asset_url}}"
                alt="Youtube champion"
                class="iconsocial"></a>
          </div><img src="{{" ClubChampion_Logo_white.svg" | asset_url}}" alt="Unete al club Champion"
            class="logoclubfooter">
          <p class="txtclub">{{ section.settings.description-subscription }}</p>
          <a href="{{ routes.account_register_url }}" class="ctared footer w-button">Suscribirme</a>
        </div>



        <div id="w-node-_03f99b7a-b6f6-ee36-4809-1a5366dc645d-beeb019d" class="w-layout-cell lastcellfooter">
          <div class="contlogos-cert">
            {% if section.settings.img_certificado_1 %}
            <img src="{{ section.settings.img_certificado_1 |  image_url  }}" alt="Asociacion mexicana de venta online"
              class="logoscertificaciones">
            {% endif %}
            {% if section.settings.img_certificado_2 %}
            <img src="{{ section.settings.img_certificado_2 |  image_url  }}" alt="Asociacion mexicana de venta online"
              class="logoscertificaciones">
            {% endif %}
          </div>
          <ul role="list" class="listafooter">
            <li class="itemlista">
              <h4 class="titlefooter center">Tus pagos y compras 100% seguros</h4>
            </li>
            <li class="itemlista"><img src="{{ section.settings.logo_payment |  image_url  }}" alt="Metodos de pago"
                class="logospagos"></li>
          </ul>
        </div>


      </div>
      <div class="socialcont final">
        <a href="{{ section.settings.instagram }}" class="linksocial w-inline-block"><img src="{{" instrgram_icon.svg" |
            asset_url}}" alt="Instagram"
            class="iconsocial"></a>
        <a href="{{ section.settings.facebook }}" class="linksocial w-inline-block"><img src="{{" facebook_icon.svg" |
            asset_url}}" alt="Facebook"
            class="iconsocial"></a>
        <a href="{{ section.settings.youtube }}" class="linksocial w-inline-block"><img src="{{" youtube_icon.svg" |
            asset_url}}" alt="Youtube"
            class="iconsocial"></a>
      </div>


      <div id="w-node-_378afaf1-f9cd-f767-f97f-dca8f3c71c46-beeb019d"
        class="w-layout-layout copyrsecc wf-layout-layout">
        <div id="w-node-a4cfbc64-a3a8-b00f-d0fc-91c785c04252-beeb019d" class="w-layout-cell cellcopyright">
          <div class="copyright">©2024  Hanesbrands Inc. Todos los derechos reservados. Developed by <a
              href="https://www.kubodigital.mx" target="_blank" class="kdlink">KD</a>
          </div>
        </div>
        <div id="w-node-_6b160bf2-c26e-f075-f365-237f2769cf18-beeb019d" class="w-layout-cell cellsocial">
          <a href="{{ routes.root_url }}" class="footerlogolink final-footer w-inline-block"><img
              src="{{ section.settings.logo |  image_url }}" alt="Logo Champion" class="logofooter"></a>
        </div>
      </div>


    </div>
  </div>
</footer>


{% schema %}
{
"name": "t:sections.footer.name",
"settings": [
{
"type": "image_picker",
"id": "logo",
"label": "Logo del footer"
},
{
"type": "header",
"content": "Menus"
},
{
"type": "link_list",
"id": "menu_1",
"default": "footer",
"label": "Menu Columna 1",
"info": "t:sections.footer.blocks.link_list.settings.menu.info"
},
{
"type": "link_list",
"id": "menu_2",
"default": "footer",
"label": "Menu Columna 2",
"info": "t:sections.footer.blocks.link_list.settings.menu.info"
},
{
"type": "header",
"content": "Redes Sociales"
}, {
"type": "text",
"id": "instagram",
"label": "Instagram"
}, {
"type": "text",
"id": "facebook",
"label": "Facebook"
}, {
"type": "text",
"id": "youtube",
"label": "Youtube"
},
{
"type": "header",
"content": "Suscripción"
}, {
"type": "textarea",
"id": "description-subscription",
"label": "Texto de descripción"
},
{
"type": "header",
"content": "Certificados de la tienda"
}, {
"type": "image_picker",
"id": "img_certificado_1",
"label": "Imagen 1"
},
{
"type": "image_picker",
"id": "img_certificado_2",
"label": "Imagen 2"
},
{
"type": "header",
"content": "Metodos de Pago"
}, {
"type": "image_picker",
"id": "logo_payment",
"label": "Imagen Metodos de Pago"
}
]
}
{% endschema %}