<footer>

<div class="customfooter">
  <div class="custom-container">
    <div class="cont-row-footer">
      <div id="w-node-c18c572d-e228-f39f-6623-73a11b18f80d-9ad7c4e7" class="w-layout-layout stackfooter wf-layout-layout">
        <div id="w-node-c18c572d-e228-f39f-6623-73a11b18f80e-9ad7c4e7" class="w-layout-cell">
          <a href="#" class="linklogo-footer w-inline-block"><img   src="{{ "logo_fondo_color.svg" | asset_url }}" alt="" class="logo-footer"></a>
        </div>
        <div id="w-node-c18c572d-e228-f39f-6623-73a11b18f80f-9ad7c4e7" class="w-layout-cell cell">
          <div class="colfooter">
            <h5 class="footer-titulo">Nosotros</h5>
            <div class="cont-items-footer">
              <ul role="list" class="items-footer">
                <li class="item-list-footer">
                  <a href="#" class="footer-link">Aviso de Privacidad</a>
                </li>
                <li class="item-list-footer">
                  <a href="#" class="footer-link">Política de envío, entrega y devolución</a>
                </li>
                <li class="item-list-footer">
                  <a href="#" class="footer-link">Términos y Condiciones</a>
                </li>
                <li class="item-list-footer">
                  <a href="#" class="footer-link">FAQ</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="colfooter">
            <h5 class="footer-titulo">Tienda</h5>
            <div class="cont-items-footer">
              <ul role="list" class="items-footer">
                <li class="item-list-footer">
                  <a href="#" class="footer-link">Registro</a>
                </li>
                <li class="item-list-footer">
                  <a href="#" class="footer-link">Carrito</a>
                </li>
                <li class="item-list-footer">
                  <a href="#" class="footer-link">Pedidos</a>
                </li>
                <li class="item-list-footer">
                  <a href="#" class="footer-link">Direcciones</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="colfooter">
            <h5 class="footer-titulo">Contacto</h5>
            <div class="cont-items-footer">
              <ul role="list" class="items-footer">
                <li class="item-list-footer">
                  <a href="mailto:info@bomuca.com?subject=Tienda%20Bomuca%20M%C3%A9xico" class="footer-link">contacto@srpaquete.com</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="colfooter socialnews">
            <h5 class="footer-titulo social">Síguenos</h5>
            <div class="cont-items-footer social">
              <ul role="list" class="items-footer">
                <li class="item-list-footer">
                  <a href="https://www.instagram.com/bomucamx/" target="_blank" class="social-link-footer w-inline-block"><img   src="{{ "icon_instagram.svg" | asset_url }}" alt="" class="social-icon"></a>
                  <a href="https://www.facebook.com/bomucamx" target="_blank" class="social-link-footer w-inline-block"><img   src="{{ "icon_facebook.svg" | asset_url }}" alt="" class="social-icon"></a>
                  <a href="https://www.youtube.com/channel/UCXhh5eJ8rZdiExnejaMvCRQ" target="_blank" class="social-link-footer w-inline-block"><img   src="{{ "icon_youtube.svg" | asset_url }}" alt="" class="social-icon"></a>
                </li>
              </ul>
            </div>
            <h5 class="footer-titulo social">Suscríbete</h5>
            <div class="newsletterform w-form">
              <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get" class="formnews" data-wf-page-id="667c5aedfac71ab99ad7c4e7" data-wf-element-id="f160ee3e-fde1-01ac-823b-301e19ce3fde"><input class="campo-correo w-input" maxlength="256" name="mail-2" data-name="Mail 2" placeholder="Ingresa aquí tu email" type="email" id="mail-2"><input type="submit" data-wait="Espere..." class="suscribebtn-news w-button" value="Suscribirme"></form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-cont">
    <div class="custom-container">
      <div id="w-node-f160ee3e-fde1-01ac-823b-301e19ce3fe9-9ad7c4e7" class="w-layout-layout stackcopyright wf-layout-layout">
        <div id="w-node-f160ee3e-fde1-01ac-823b-301e19ce3fea-9ad7c4e7" class="w-layout-cell cellfooter">
          <div class="copyright">Copyright © 2024 SR. PAQUETE Designed and Developed by <a href="https://www.kubodigital.com" target="_blank" class="kdlink">Kubo Digital</a>
          </div>
        </div>
        <div id="w-node-f160ee3e-fde1-01ac-823b-301e19ce3fef-9ad7c4e7" class="w-layout-cell cellfooter"><img alt="" src="{{ "logos_escritorio.png" | asset_url }}"   class="mediospago"><img alt="" src="{{ "pagos-mobile.png" | asset_url }}"   class="mediospago mobile"></div>
      </div>
    </div>
  </div>
</div>

</footer>


{% schema %}
{
"name": "t:sections.footer.name",
"settings": [
{
"type": "image_picker",
"id": "logo",
"label": "Logo del footer"
},
{
"type": "header",
"content": "Menus"
},
{
"type": "link_list",
"id": "menu_1",
"default": "footer",
"label": "Menu Columna 1",
"info": "t:sections.footer.blocks.link_list.settings.menu.info"
},
{
"type": "link_list",
"id": "menu_2",
"default": "footer",
"label": "Menu Columna 2",
"info": "t:sections.footer.blocks.link_list.settings.menu.info"
},{
"type": "header",
"content": "Contacto"
},{
"type": "text",
"id": "email",
"label": "Correo"
},{
"type": "header",
"content": "Direccion 1"
},{
"type": "text",
"id": "city_1",
"label": "Ciudad"
},{
"type": "text",
"id": "phone_1",
"label": "Telefono"
},{
"type": "textarea",
"id": "address_1",
"label": "Direccion"
},{
"type": "header",
"content": "Direccion 2"
},{
"type": "text",
"id": "city_2",
"label": "Ciudad"
},{
"type": "text",
"id": "phone_2",
"label": "Telefono"
},{
"type": "textarea",
"id": "address_2",
"label": "Direccion"
},{
"type": "header",
"content": "Direccion 3"
},{
"type": "text",
"id": "city_3",
"label": "Ciudad"
},{
"type": "text",
"id": "phone_3",
"label": "Telefono"
},{
"type": "textarea",
"id": "address_3",
"label": "Direccion"
},{
"type": "header",
"content": "Redes Sociales"
}, {
"type": "text",
"id": "instagram",
"label": "Instagram"
}, {
"type": "text",
"id": "facebook",
"label": "Facebook"
}, {
"type": "text",
"id": "youtube",
"label": "Youtube"
},
{
"type": "header",
"content": "Suscripción"
},{
"type": "text",
"id": "news_title",
"label": "Titulo"
},{
"type": "textarea",
"id": "description-subscription",
"label": "Descripción"
},
{
"type": "header",
"content": "Metodos de Pago"
}, {
"type": "image_picker",
"id": "logo_payment",
"label": "Imagen Metodos de Pago"
}, {
"type": "image_picker",
"id": "logo_payment_mobile",
"label": "Imagen Metodos de Pago Mobile"
}
]
}
{% endschema %}