<div class="seccreviewandproduct">
  <div class="custom-container">
    <div id="w-node-_9525fb1b-085a-d3f7-89a1-9b34b363a244-d6642a49" class="w-layout-layout stackreviewsecc wf-layout-layout">   
      <div id="w-node-_9525fb1b-085a-d3f7-89a1-9b34b363a245-d6642a49" class="w-layout-cell cellreviews">
        <div class="revslidertitle">
          <h3 class="reviewstitle">{{ section.settings.title }}</h3>
        </div>
        <div data-delay="4000" data-animation="slide" class="reviewslider w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
          <div class="maskreviews w-slider-mask">
            {% for block in section.blocks %}
              {% if block.settings.comment != blank %}
                <div class="slidereview w-slide">
                  <div class="continforeview">
                    <div class="namereviewclient"><em>{{ block.settings.autor }}</em></div>
                    <div class="datereview">{{block.settings.review_title}} | {{ block.settings.review_date }} </div>
                    <p class="clientreviewshome">{{ block.settings.comment }}</p>
                    {% assign rate = block.settings.starscount %}
                    {% case rate %}
                      {% when 'FiveStars' %}
                        <img src="{{ "starsreviews_icon.svg" | asset_url }}" class="starsreviewslider">
                      {% when 'FourHalfStars' %}
                        <img src="{{ "raiting4ymedio.svg" | asset_url }}" class="starsreviewslider">
                      {% when 'FourStars' %}
                        <img src="{{ "rating4.svg" | asset_url }}" class="starsreviewslider">
                    {% endcase %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}           
          </div>
          <div class="arrowmainslider reviews w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
          </div>
          <div class="arrowmainslider right reviews w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
          </div>
          <div class="mainslidenav reviews w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
      </div>
      <div id="w-node-_9525fb1b-085a-d3f7-89a1-9b34b363a246-d6642a49" class="w-layout-cell cellslidereview">
        <div data-delay="4000" data-animation="cross" class="productreviewslider w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
          <div class="w-slider-mask">
            {% for block in section.blocks %}
              {% if block.settings.product_image != blank %}
                <div class="slideproduct w-slide" style="background-image: url({{ block.settings.product_image | image_url }});">
                  <a href="{{ block.settings.banner_url }}" class="vermasblog white reviews w-inline-block">
                    <div class="txtbtnblog">{{ block.settings.banner_text }}</div>
                    <img src="{{ "arrow_green.svg" | asset_url }}" class="arrowbtnblog">
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="arrowproductreviews w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
          </div>
          <div class="arrowproductreviews w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
          </div>
          <div class="navproductreview w-slider-nav w-round"></div>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
"name": "Reviews",
"class": "index-section",
"settings": [
  {
    "type": "text",
    "id": "title",
    "label": "Titulo",
    "default": "Clientes <strong class='boldtitles'>satisfechos</strong>"
  }
],
"max_blocks": 6,
"blocks": [
  {
    "type": "comment",
    "name": "Review",
    "settings": [
      {
        "type": "text",
        "id": "autor",
        "label": "Autor"
      },{
        "type": "text",
        "id": "review_title",
        "label": "Titulo"
      },{
        "type": "text",
        "id": "review_date",
        "label": "Fecha"
      },{
        "type": "textarea",
        "id": "comment",
        "label": "Review"
      },{
        "type": "select",
        "id": "starscount",
        "label": "Calificacion",
        "options": [
          {
            "value": "FourStars",
            "label": "4 Estrellas"
          },
          {
            "value": "FourHalfStars",
            "label": "4.5 Estrellas"
          },
          {
            "value": "FiveStars",
            "label": "5 Estrellas"
          }
             
        ]
      },{
        "type": "image_picker",
        "id": "product_image",
        "label": "Imagen de producto"
      },{
        "type": "text",
        "id": "banner_text",
        "label": "Texto Url"
      },{
        "type": "url",
        "id": "banner_url",
        "label": "Url"
      }
    ]
  }
],
"presets": [
{
"name": "Reviews y Productos"
}
]
}
{% endschema %}