<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">

<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}">
{{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

<header>
  
<div data-w-id="2db171a4-0b98-e6c0-8b40-f1930826e76a" class="navbar-logo-center">

  {% if section.blocks != blank %}
    <div class="topbanner">
      <div class="custom-container">
        <div data-delay="4000" data-animation="cross" class="topbannerslider w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="750" data-infinite="true">
          <div class="masktop-slider w-slider-mask">
  
            {% for block in section.blocks %}
              <div class="topslide w-slide">
                <div class="continfotop-flex">
                  <a href="{{ block.settings.url }}" class="linktopbanner"><span class="colortopbanner">{{ block.settings.boldtitle }}</span>{{ block.settings.title }}</a>
                </div>
              </div>
            {% endfor %}
          </div>
  
          {% if section.blocks.size > 1 %}
            <div class="arrowtop-slider w-slider-arrow-left">
              <div class="w-icon-slider-left"></div>
            </div>
            <div class="arrowtop-slider w-slider-arrow-right">
              <div class="w-icon-slider-right"></div>
            </div>
            <div class="topslidenav w-slider-nav"></div>
          {% endif %}
  
        </div>
      </div>
    </div>
  {% endif %}


  <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="custom-navbar w-nav">
    <div class="contnavitems">

      <div class="menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>

      
      <nav role="navigation" class="custom-navigationmenu w-nav-menu">
        {% if section.settings.menu != blank %}
          
          {% for link in section.settings.menu.links %}
            {% if link.links != blank %}
              <div data-delay="0" data-hover="true" class="customdrop-nav w-dropdown">
                <div class="menunav-link drop w-dropdown-toggle">
                  <div class="icondropmenu w-icon-dropdown-toggle"></div>
                  <div>{{ link.title }}</div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                  <ul role="list" class="listamenunav">
                    {% for childlink in link.links %}
                      <li class="itemlistmenu">
                        <a href="{{ childlink.url }}" class="titlecatesubmenu">{{ childlink.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </nav>
              </div>
            {% else %}
              <a href="{{ link.url }}" aria-current="page" class="menunav-link{%  if link.title contains 'Ofertas'  %} ofertas {% endif %} w-nav-link">{{ link.title }}</a>
            {% endif %}
          {% endfor %}

          <div class="extramenu-mobile"><img   src="{{ "icon_user.svg" | asset_url }}" alt="" class="icnomenu-mobile">
            <a href="#" class="menunav-link w-nav-link">Mi cuenta</a>
          </div>
          <div class="extramenu-mobile"><img   src="{{ "icon_mail.svg" | asset_url }}" alt="" class="icnomenu-mobile">
            <a href="#" class="menunav-link w-nav-link">Mi cuenta</a>
          </div>
        {% endif %}
      </nav>
      

      <a href="{{ routes.root_url }}" class="logonav w-nav-brand">
        <img loading="eager" src="{{ section.settings.logo |  image_url }}" alt="sr paquete logo" class="imglogo-nav">
      </a>

      <div class="cont-cartcontact">
        <div class="linkicons-nav">
          <img src="{{ "icon_search.svg" | asset_url }}" alt="" class="icononav" data-ix="show-buscador">
          <div class="form-buscador w-form">
            <form action="{{ routes.search_url }}" method="get" class="busqueda-formcot" role="search"  >
              <div class="close-buscador" data-ix="close-bsucador">X</div>
              <input class="input-buscador w-input" maxlength="256" name="q" placeholder="¿Qué estás buscando?" type="text" required >
              <input type="submit" data-wait="Buscando..." class="buscarbtn w-button" value="">
            </form>
          </div>
        </div>
        <a href="/pages/contact" class="linkicons-nav ocultomobile w-inline-block">
          <img loading="eager" src="{{ "icon_mail.svg" | asset_url }}" alt="contacto" class="icononav">
        </a>
        <a href="{{ routes.account_url }}" class="linkicons-nav ocultomobile w-inline-block">
          <img loading="eager" src="{{ "icon_user.svg" | asset_url }}" alt="cuenta" class="icononav">
        </a>
        <a href="{{ routes.cart_url }}" class="linkicons-nav">
          <img src="{{ "icon_cart.svg" | asset_url }}" alt="carrito" class="icononav">
          <div class="qtynumber" id="cart-icon-bubble" >{{cart.item_count}}</div>
        </a>
      </div>

    </div>
  </div>
</div>
  
</header>


{%- if request.page_type == 'index' -%}
{% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
<script type="application/ld+json">
    {
    "@context": "http://schema.org",
        "@type": "WebSite",
        "name": {
          {
            shop.name | json
          }
        },
        "potentialAction": {
          "@type": "SearchAction",
          "target": {
            {
              potential_action_target | json
            }
          },
          "query-input": "required name=search_term_string"
        },
        "url": {
          {
            request.origin | append: page.url | json
          }
        }
      }
</script>
{%- endif -%}
{% schema %}
{
"name": "t:sections.header.name",
"class": "section-header",
"max_blocks": 5,
"blocks": [
  {
  "type": "text",
  "name": "Anuncio",
  "settings": [
      {
        "type": "text",
        "id": "boldtitle",
        "label": "Encabezado",
        "default": "ENVIOS GRATIS"
      },{
      "type": "text",
      "id": "title",
      "default": "en compras mayores a $699",
      "label": "Mensaje"
      },
      {
      "type": "url",
      "id": "url",
      "label": "Url"
      }
    ]
  }
],
"settings": [
    {
    "type": "image_picker",
    "id": "logo",
    "label": "Logo de la marca"
    },
    { "type": "link_list", "id": "menu", "default": "main-menu", "label": "Menu Principal" }

  ]
}
{% endschema %}