<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">

<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}">
{{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

{% render 'login-popup' %}

<header>
  <div class="customheader">

    <div class="top-banner">
      <div class="custom-container">
        {% for block in section.blocks %}
          <a href="{{ block.settings.url }}" class="texto-topbanner">{{ block.settings.title }}</a>
        {% endfor %}
      </div>
    </div>

    <div class="menunav-custom">
      <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="custom-navbar w-nav">
        <div class="custom-container navbar">

          <div class="boton-menu w-nav-button">
            <div class="w-icon-nav-menu"></div>
          </div>

          <a href="{{ routes.root_url }}" class="logonav w-nav-brand">
            <img src="{{ section.settings.logo |  image_url }}" alt="{{ section.settings.logo.alt }}" loading="eager" class="imglogo-nav">
          </a>

          <div class="buscador-custom w-form">
            <form action="{{ routes.search_url }}" method="get" role="search" class="formbuscador" data-wf-page-id="6667390ff463b82d886d3909" data-wf-element-id="dbc1f7ba-4e00-327f-f8dc-751f383ffe66">
              <input class="inputbuscador w-input" maxlength="256" name="q"  placeholder="Encuentra tu producto" type="search" required >
              <input type="submit" data-wait="Buscando.." class="btn-buscar w-button" value="Buscar">
            </form>
          </div>

          <div class="cont-contacto">
            <a href="{%  if customer %} {{ routes.account_url }} {%  else %} # {% endif %}" class="linknavicon hiddenmobile w-inline-block">
              <img src=" {{ " account_icon.svg" | asset_url }} " alt="Usuario" class=" iconnavbar" data-ix="showloginmodal">
            </a>
            <a href="/pages/contact" class="linknavicon hiddenmobile w-inline-block">
              <img src="{{ "mail_icon.svg" | asset_url}} " alt="Contacto" class=" iconnavbar">
            </a>
            <a href="#" class="linknavicon w-inline-block" id="cart-icon-btn" >
              <img src="{{ " cart-icon.svg" | asset_url }}" alt="Carrito" class="iconnavbar">
              <div class="qtycart" id="cart-icon-bubble">{{cart.item_count}}</div>
            </a>
          </div>
        </div>

        <nav role="navigation" class="custom-navigationmenu w-nav-menu">

          <div class="buscador-custom mobile w-form">
            <form action="{{ routes.search_url }}" method="get" role="search" class="formbuscador" data-wf-page-id="6667390ff463b82d886d3909" data-wf-element-id="dbc1f7ba-4e00-327f-f8dc-751f383ffe66">
              <input class="inputbuscador w-input" maxlength="256" name="q"  placeholder="Encuentra tu producto" type="search" required >
              <input type="submit" data-wait="Buscando.." class="btn-buscar w-button" value="Buscar">
            </form>
          </div>

          {% if section.settings.menu != blank %}
            {% for link in section.settings.menu.links %}
              {% if link.links != blank %}
                <div data-delay="0" data-hover="true" class="customdrop-nav w-dropdown">
                  <div class="menunav-link drop w-dropdown-toggle">
                    <div class="icondropmenu w-icon-dropdown-toggle"></div>
                    <div class="nombremenu">{{ link.title }}</div>
                  </div>
                  <nav class="megamenu-colecciones w-dropdown-list">
                    {% for childlink in link.links %}
                      {% if childlink.links != blank %}
                        <div data-hover="true" data-delay="0" class="dropsub w-dropdown">
                          <div class="droptoglgesub w-dropdown-toggle">
                            <div class="icondropsub w-icon-dropdown-toggle"></div>
                            <div>{{ childlink.title}}</div>
                          </div>
                          <nav class="thirdleveldrop w-dropdown-list">
                            {% for thirdchild in childlink.links %}
                              <a href="{{ thirdchild.url }}" class="sublinkmenudrop">{{ thirdchild.title }}</a>
                            {% endfor %}
                          </nav>
                        </div>
                      {% else %}                        
                        <a href="{{ childlink.url }}" class="sublinkmenudrop">{{ childlink.title }}</a>
                      {% endif %}
                    {% endfor %}
                  </nav>
                </div>
              {% else %}
              <a href="{{ link.url }}" class="menunav-link {% if link.title contains 'OFERTAS'  %} ofertas {% endif %} w-nav-link">{{ link.title }}</a>
              {% endif %}
            {% endfor %}
          {% endif %}

          <a href="{{ routes.account_url }}" class="menunav-link hiddendesk micuenta w-nav-link">Mi cuenta</a>
          <a href="/pages/contact" class="menunav-link hiddendesk contacto w-nav-link">Contacto</a>
        </nav>
      </div>
    </div>
  </div>
</header>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
    "@context": "http://schema.org",
        "@type": "WebSite",
        "name": {
          {
            shop.name | json
          }
        },
        "potentialAction": {
          "@type": "SearchAction",
          "target": {
            {
              potential_action_target | json
            }
          },
          "query-input": "required name=search_term_string"
        },
        "url": {
          {
            request.origin | append: page.url | json
          }
        }
      }
  </script>
{%- endif -%}
{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 5,
  "blocks": [
    {
      "type": "text",
      "name": "Anuncio",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Conoce nuestras novedades",
          "label": "Anuncio Encabezado"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link del Anuncio"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo de la marca"
    },
    { "type": "link_list", "id": "menu", "default": "main-menu", "label": "Menu Principal" }
  ]
}
{% endschema %}
