<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">

<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}">
{{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}


<header>
  <div data-w-id="ab683e7b-5d8f-4d21-9535-7d299d426f25" class="section-header-champion">
    <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease"
      role="banner" class="custom-navbar w-nav">
      <div class="custom-container navbar">
        <a href="{{ routes.root_url }}" class="logonav w-nav-brand">
          <img src="{{ section.settings.logo |  image_url }}" alt="Logo Champion" class="imglogo-nav">
          <img src="{{ section.settings.logo_mobile |  image_url }}" alt="Logo Champion" class="imglogo-nav mobile">
        </a>


        <nav role="navigation" class="custom-navigationmenu w-nav-menu">
          {% for link in section.settings.menu.links %}
          {% if link.links != blank %}
          <div data-hover="true" data-delay="0" class="customdrop-nav w-dropdown">
            <div class="menunav-link drop w-dropdown-toggle">
              <div class="icondropmenu w-icon-dropdown-toggle"></div>
              <div>{{ link.title | escape }}</div>
            </div>
            <nav class="megamenu-colecciones w-dropdown-list">
              <div class="containermegamenufull">
                {%if link.levels == 2%}
                {%- for childlink in link.links -%}
                {% if forloop.first %}
                <div class="contvertodo">
                  <a href="{{ childlink.url }}" class="titlecatesubmenu">{{ childlink.title }}</a>
                </div>
                {% else %}
                <ul role="list" class="listamenunav">
                  <li class="itemlistmenu">
                    <a href="{{ childlink.url }}" class="titlecatesubmenu maintitle">{{ childlink.title }}</a>
                  </li>
                  {%- for grandchildlink in childlink.links -%}
                  <li class="itemlistmenu">
                    <a href="{{ grandchildlink.url }}" class="titlecatesubmenu">{{ grandchildlink.title }}</a>
                  </li>
                  {%- endfor -%}
                </ul>
                {% endif %}
                {%-endfor-%}
                {% else %}
                <ul role="list" class="listamenunav">
                  {%- for childlink in link.links -%}

                  <li class="itemlistmenu">
                    <a href="{{ childlink.url }}" class="titlecatesubmenu">{{ childlink.title }}</a>
                  </li>
                  {%- endfor -%}
                </ul>
                {% endif %}
              </div>
            </nav>
          </div>
          {% else %}
          <a href="{{link.url}}" class="menunav-link {% if link.title == 'Rebajas' %}sale{% endif %} w-nav-link">
            {{link.title}}
          </a>
          {% endif %}
          {% endfor %}
          <div class="extramenu-mobile"><img src="{{" account_icon.svg" | asset_url}}" alt="menu"
              class="icnomenu-mobile">
            <a href="{{routes.account_url}}" class="menunav-link mobile nav-link w-nav-link">Mi cuenta</a>
          </div>
        </nav>



        <div class="cont-cartcontact w-clearfix">
          <div class="customsearch">
            <div class="buscadorcustom w-form">

              <form method="get" action="{{ routes.search_url }}" role="search" class="w-clearfix"
                data-wf-page-id="65d91dc66d987aa8beeb019d" data-wf-element-id="0525edd1-3475-0fce-3e80-7178f2095369">
                <input type="submit" data-wait="Please wait..." class="buscar-btn w-button" value="Submit">
                <input type="hidden" name="type" value="product" />
                <input type="hidden" name="options[unavailable_products]" value="last" />
                <input type="hidden" name="options[prefix]" value="last" />
                <input class="buscador-input w-input" maxlength="256" name="q" placeholder="Buscar" type="search"
                  id="buscador" required>
              </form>

            </div>
          </div>

          <a href="{{routes.account_url}}" class="linkicons-nav ocultomobile w-inline-block">
            <img src="{{" account_icon.svg" | asset_url}}" alt="User" class="icononav">
          </a>
          <div class="linkicons-nav" id="cart-icon-btn">
            <img src="{{" cart_icon.svg" | asset_url}}" alt="carrito" class="icononav">
            <div class="qtynumber" id="cart-icon-bubble">{{cart.item_count}}</div>
          </div>
        </div>



        <div class="menu-button w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>

      </div>
    </div>


    <div class="topbanner">
      <div class="custom-container">
        <div data-delay="4000" data-animation="cross" class="topbannerslider w-slider" data-autoplay="true"
          data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0"
          data-nav-spacing="3" data-duration="750" data-infinite="true">

          <div class="masktop-slider w-slider-mask">

            {% for item in section.blocks %}
            <div class="topslide w-slide">
              <div class="continfotop-flex">
                <a href="{{ item.settings.Anuncio_link }}" class="linktopbanner">{{ item.settings.Anuncio_title }}</a>
              </div>
            </div>
            {% endfor %}

          </div>

          <div class="arrowtop-slider w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
          </div>
          <div class="arrowtop-slider w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
          </div>
          <div class="topslidenav w-slider-nav"></div>
        </div>
      </div>
    </div>

  </div>
</header>

{%- if request.page_type == 'index' -%}
{% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
<script type="application/ld+json">
    {
    "@context": "http://schema.org",
        "@type": "WebSite",
        "name": {
          {
            shop.name | json
          }
        },
        "potentialAction": {
          "@type": "SearchAction",
          "target": {
            {
              potential_action_target | json
            }
          },
          "query-input": "required name=search_term_string"
        },
        "url": {
          {
            request.origin | append: page.url | json
          }
        }
      }
  </script>
{%- endif -%}
{% schema %}
{
"name": "t:sections.header.name",
"class": "section-header",
"max_blocks": 5,
"blocks": [
{
"type": "text",
"name": "Anuncio",
"settings": [
{
"type": "text",
"id": "Anuncio_title",
"default": "Conoce nuestras novedades",
"label": "Anuncio Encabezado"
},
{
"type": "url",
"id": "Anuncio_link",
"label": "Link del Anuncio"
}
]
}
],
"settings": [
{
"type": "image_picker",
"id": "logo",
"label": "Logo de la marca"
},{
"type": "image_picker",
"id": "logo_mobile",
"label": "Logo Mobile"
},
{ "type": "link_list", "id": "menu", "default": "main-menu", "label": "Menu Principal" }

]
}
{% endschema %}