{%  if collection.image %}
  <div class="secclisting">
    
    <div class="lisitnglinkbanner">
      <img src="{{ collection.image | img_url:'master' }}" alt="{{- collection.title | escape -}}" class="bannerlisitng">
    </div>

    {% if collection.metafields.custom.banner_movil %}
      <div class="lisitnglinkbanner mobile">
        <img src="{{ collection.metafields.custom.banner_movil |  img_url:'master'  }}"  alt="{{- collection.title | escape -}}" class="bannerlisitng">
      </div>
    {% else  %}
      <div class="lisitnglinkbanner mobile">
        <img src="{{ collection.image | img_url:'master' }}"  alt="{{- collection.title | escape -}}" class="bannerlisitng">
      </div>
    {% endif %}
  </div>
{% else %}
  <div class="secclisting">
    <div class="lisitnglinkbanner">
      <div class="contitlelisting">
        <h1 class="txtresults">{{ collection.title | escape }}</h1>
      </div>
    </div>
  </div>
{% endif %}


{% schema %}
  {
    "name": "t:sections.main-collection-banner.name",
    "class": "section",
    "settings": [
      {
        "type": "paragraph",
        "content": "La configuración de los banners se realiza directamente en la edición de la colección"
      }
    ]
  }
{% endschema %}