{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}


{%- paginate blog.articles by 6 -%}

  <div class="container-blog-listing">

    <div class="header-blog">
      <div class="custom-container">
        <h1 class="maintitle white">{{ blog.title }}</h1>
      </div>
    </div>

    <div class="custom-container">
      <div class="rowlist-blog w-row">

        <div class="w-col w-col-8 w-col-small-6">
          {%- for article in blog.articles -%}
              {%- render 'article-card',
              article: article,
              show_date: section.settings.show_date,
              show_author: section.settings.show_author,
              show_excerpt: true
              -%}
          {%- endfor -%}
        </div>

        <div class="w-col w-col-4 w-col-small-6">
          <div class="cont-tagsblog">
            <h3 class="title-tags">TEMAS</h3>
            {% for tag in blog.all_tags %}
              <a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handle }}" class="tagblog">{{ tag }}</a>
            {% endfor %}
            <a href="{{ blog.url }}" class="tagblog">{{ blog.title | escape }} </a>

          </div>
        </div>

      </div>

      {%- if paginate.pages > 1 -%}
        {%- render 'pagination', paginate: paginate -%}
      {%- endif -%}
    </div>

  </div>

{%- endpaginate -%}

{% schema %}
{
"name": "t:sections.main-blog.name",
"tag": "section",
"class": "section",
"settings": [
{
"type": "header",
"content": "t:sections.main-blog.settings.header.content"
},
{
"type": "checkbox",
"id": "show_date",
"default": true,
"label": "t:sections.main-blog.settings.show_date.label"
},
{
"type": "checkbox",
"id": "show_author",
"default": false,
"label": "t:sections.main-blog.settings.show_author.label"
},{
"type": "textarea",
"id": "Blog_description",
"label": "Subtitulo"

},
{
"type": "paragraph",
"content": "t:sections.main-blog.settings.paragraph.content"
}
]
}
{% endschema %}