<div class="container-listing">
  <div class="custom-container">
    <div>
      <div class="not-found-div" style="padding: 100px 0;"><img src="{{" notfound.svg" | asset_url}}"
          alt="Sin resultados icono" class="img-search">
        <h1 class="no-reults-txt"><strong class="bold-no-reults">{{ 'templates.404.subtext' | t }} - {{
            'templates.404.title' | t }} </strong></h1>

        <a href="{{ routes.all_products_collection_url }}" class="loginpopbtn center w-button"
          style="width: fit-content;">
          {{ 'general.continue_shopping' | t }}
        </a>
      </div>
    </div>
  </div>
</div>