<div class="seccinternas">
  <div class="custom-container">
    <div class="formin">
       
      <div class="loginpopform w-form">
        {%- form 'reset_customer_password', class: 'contenidoformlog micuenta' -%}
          <div class="maintitle-cont">
            <h2 class="maintitle left">{{ 'customer.reset_password.title' | t }}</h2>
          </div>
          <p class="txtlogin">{{ 'customer.reset_password.subtext' | t }}</p>
          <input placeholder="{{ 'customer.reset_password.password' | t }}" class="loginreg-field pass w-input" type="password" name="customer[password]" id="password" autocomplete="new-password" {% if form.errors contains 'password' %}   aria-invalid="true"   aria-describedby="password-error" {% endif %} required="">
          {%- if form.errors contains 'password' -%}
            <small id="password-error" class="form__message">
              {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}
            </small>
          {%- endif -%}
          <input placeholder="{{ 'customer.reset_password.password_confirm' | t }}" class="loginreg-field pass w-input"  type="password" name="customer[password_confirmation]" id="password_confirmation" autocomplete="new-password" {% if form.errors contains 'password_confirmation' %}   aria-invalid="true"   aria-describedby="password_confirmation-error" {% endif %} required="">
          {%- if form.errors contains 'password_confirmation' -%}
            <small id="password_confirmation-error" class="form__message">
              {{ form.errors.translated_fields['password_confirmation'] | capitalize }} {{ form.errors.messages['password_confirmation'] }}
            </small>
          {%- endif -%}
          <input type="submit" value="{{ 'customer.reset_password.submit' | t }}" data-wait="" class="loginpopbtn w-button" style="width:auto;">
        {%- endform -%}
      </div>

    </div>
  </div>
</div>


{% schema %}
{
  "name": "t:sections.main-register.name",
  "settings": [
  ]
}
{% endschema %}
