{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}


{%- paginate blog.articles by 6 -%}

<div class="seccinternas">
  <div class="headerinterna">
    <div class="custom-container">
      {% assign title_words = blog.title | split: ' ' %}
      <h1 class="titleinterna"><a href="{{ blog.url }}" class="full-unstyled-link">{% if title_words.size > 1 %}{{ title_words.first }} <strong class="boldtitles">{{ title_words.last }}</strong>{% else %}{{ title_words.first }} <strong class="boldtitles">{{ title_words.first }}</strong>{% endif %}</a></h1>
      <p class="parrafo-about">{{ section.settings.Blog_description }}</p>
    </div>
  </div>

  <div class="infointernas">
    <div class="custom-container">

    {% assign full_url = request.host | append: request.path %}
      <div class="cont-tagsblog">
        {% for tag in blog.all_tags %}
        <a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handle }}" class="tagblog">{{ tag }}</a>
        {% endfor %}
        <a href="{{ blog.url }}" class="tagblog">{{ blog.title | escape }} </a>
      </div>

      <div class="contitemblog">
        {%- for article in blog.articles -%}
        <a href="{{ article.url }}" class="itemblog-listing w-inline-block">
          {%- render 'article-card',
          article: article,
          show_date: section.settings.show_date,
          show_author: section.settings.show_author,
          show_excerpt: true
          -%}
        </a>
        {%- endfor -%}
      </div>

      {%- if paginate.pages > 1 -%}
        {%- render 'pagination', paginate: paginate -%}
      {%- endif -%}

    </div>
  </div>
</div>

{%- endpaginate -%}

{% schema %}
{
"name": "t:sections.main-blog.name",
"tag": "section",
"class": "section",
"settings": [
{
"type": "header",
"content": "t:sections.main-blog.settings.header.content"
},
{
"type": "checkbox",
"id": "show_date",
"default": true,
"label": "t:sections.main-blog.settings.show_date.label"
},
{
"type": "checkbox",
"id": "show_author",
"default": false,
"label": "t:sections.main-blog.settings.show_author.label"
},{
"type": "textarea",
"id": "Blog_description",
"label": "Subtitulo"

},
{
"type": "paragraph",
"content": "t:sections.main-blog.settings.paragraph.content"
}
]
}
{% endschema %}