<div class="secctiendasoficiales">
  <div class="custom-container">
    <div id="w-node-_536fd8d5-3d21-cf38-2caf-69d4af28366e-ba5351bb" class="w-layout-layout stack-stores wf-layout-layout">

      <div id="w-node-_536fd8d5-3d21-cf38-2caf-69d4af28366f-ba5351bb" class="w-layout-cell cellcolorstores">
        <div class="storehours">
          <h5 class="store-name white">{{ section.settings.title }}</h5>
          <p class="infotiendas">{{ section.settings.description }}<br><br>Lunes a Viernes: <br>{{ section.settings.time_1 }}<br><br>Sábados y Domingos<br>{{ section.settings.time_2 }}</p>
        </div>
      </div>

      <div id="w-node-_536fd8d5-3d21-cf38-2caf-69d4af283670-ba5351bb" class="w-layout-cell cellinfomaps">
        <div data-delay="4000" data-animation="slide" class="stores-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
          <div class="w-slider-mask">

            {% for block in section.blocks %}
              <div class="storeslide w-slide">
                <div class="containerstore-item">
                  <h5 class="store-name">{{ block.settings.StoreName }}</h5>
                  <p class="storeadress">{{ block.settings.address }}</p>
                  <a href="{{ block.settings.url }}" target="_blank" class="linkmap w-inline-block">
                    <div class="mapimg">{{ block.settings.map }} </div>
                  </a>
                  <a href="{{ block.settings.url }}" target="_blank" class="btntienda w-button">CÓMO LLEGAR</a>
                </div>
              </div>
            {% endfor %}

          </div>

          <div class="storesarrow w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
          </div>
          <div class="storesarrow w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
          </div>
          <div class="navigationdots stores w-slider-nav w-round"></div>


        </div>
      </div>
    </div>
  </div>
</div>

{% schema  %}
{
  "name": "Sucursales",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Titulo de seccion",
      "default": "TIENDAS OFICIALES"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Descripcion",
      "default": "Visita cualquiera de nuestras sucursales en nuestros distintos horarios:"
    },
    {
      "type": "text",
      "id": "time_1",
      "label": "Horario Semanal",
      "default": "10:00 am - 06:00 pm",
      "placeholder": "10:00 am - 06:00 pm"
    },
    {
      "type": "text",
      "id": "time_2",
      "label": "Horario fin de semana",
      "default": "10:00 am - 04:00 pm",
      "placeholder": "10:00 am - 04:00 pm"
    }
  ],
  "max_blocks": 3,
  "blocks": [
     {
      "type": "map",
      "name": "Tienda",
      "settings": [
        {
          "type": "text",
          "id": "StoreName",
          "label": "Tienda"
        },
        {
          "type": "text",
          "id": "address",
          "label": "Direccion"
        },
        {
          "type": "html",
          "id": "map",
          "label": "Mapa"   
        },
        {
          "type": "url",
          "id": "url",
          "label": "Url de ubicacion"
        }
      ]
     }
   ],
  "presets": [
    {
      "name": "Sucursales"
    }
  ]
}
{% endschema %}