
<div class="seccrecomendados recommendations_pageproduct custom-container hidde complementary">
  <div class="custom-container">
    <div class="maintitle-cont">
      <h2 class="maintitle">{{ section.settings.heading  }}</h2>
    </div>
    <product-recommendations class="product-recommendations seccion-sugeridos" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show }}&intent=complementary" id="recommendations-shopify-product-2">
      {% if recommendations.performed and recommendations.products_count > 0 %}
        <div class="code-embed w-embed">
          <div class="owl-carousel productosowl owl-theme" id="sync2">
            {% for recommendation in recommendations.products %}
              {% render 'card-product',
              card_product: recommendation,
              show_quick_add: true
              %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </product-recommendations>
  </div>
</div>

{% schema %}
{
  "name": "Complementarios",
  "settings": [
    {
      "type": "paragraph",
      "content": "Productos Complementarios"
    },
    {
      "type": "textarea",
      "id": "heading",
      "default": "Titulo de sección",
      "label": "Titulo de la sección"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "Numero de productos del carrusel"
    }
  ]
}
{% endschema %}


<script>
  const targetDiv2 = document.getElementById("recommendations-shopify-product-2");
  const observer2 = new MutationObserver(function(mutationsList, observer) {
    $(".recommendations_pageproduct.complementary").removeClass("hidde");    
    $(".productosowl").owlCarousel({
      loop:false,
    margin:3,    
    navRewind: true,
    autoWidth:false,
    autoplay:false,
	navText: ['<div class="productsliderarrow w-slider-arrow-left"><div class="w-icon-slider-left"></div></div>','<div class="productsliderarrow w-slider-arrow-right"><div class="w-icon-slider-right"></div></div>'],
    animateOut: 'fadeOut',
    slideSpeed: 4000,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true,
            dots:false,
            mouseDrag: false,
            touchDrag: false
        },
        480:{
            items:2,
            nav:true,
          	dots:false,
            mouseDrag: false,
            touchDrag: false
        },
      	767:{
            items:3,
            nav:true,
            dots:false,
            mouseDrag: false,
            touchDrag: false
        },
		991:{
            items:4,
            nav:true,
          dots:false
        }
    }
  });
  });
  const config2 = { childList: true, characterData: true, subtree: true };
  observer2.observe(targetDiv2, config2);
  </script>

